#header {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 3vh 0;
}
#header nav ul {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
  list-style: none;
  padding: 0;
}
#header nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: 1s;
}

#header nav ul a:hover {
  text-decoration: underline;
}
#header nav ul a:active {
  box-shadow: 0 0 0 2px black;
}
